@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

@media screen and (min-width: 800px) {
    .container h1 {
        font-size: 3rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
}

main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 5rem;
    padding-bottom: 5vh;
}

.container span {
    font-size: 6rem;
    font-weight: 400;
}

.button-container {
    padding-top: 5vh;
}

.btn {
    margin: 0.5rem;
    padding: 5px 10px;
    border-radius: 9px;
    transition: all 0.3s ease 0s;
    letter-spacing: 4px;
    background: transparent;
    border: 3px solid black;
    text-transform: uppercase;
}

.container button:hover {
    color: #fff;
    background-color: #333;
    cursor: pointer;
}